<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyguardian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EmergencyContacts"
            android:configChanges="orientation|screenSize"
            android:label="Emergency Contacts" />
        <activity
            android:name=".EmergencyCall"
            android:configChanges="orientation|screenSize"
            android:label="Emergency Call" />
        <activity
            android:name=".EmergencyButton"
            android:configChanges="orientation|screenSize"
            android:label="Emergency Button" />
        <activity
            android:name=".AddEmergencyContacts"
            android:configChanges="orientation|screenSize"
            android:label="Add Emergency Contacts" />
        <activity
            android:name=".MyProfile"
            android:configChanges="orientation|screenSize"
            android:label="My Profile" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".LoginScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".EmergencyText"
            android:configChanges="orientation|screenSize"
            android:label="Emergency Text" />
        <activity
            android:name=".MyLocation"
            android:configChanges="orientation|screenSize"
            android:label="My Location" />
        <activity
            android:name=".NearMe"
            android:configChanges="orientation|screenSize"
            android:label="Near Me" />
        <activity
            android:name=".SendVideo"
            android:configChanges="orientation|screenSize"
            android:label="Send Video" />
        <activity
            android:name=".TakeVideo"
            android:configChanges="orientation|screenSize"
            android:label="Take Video" />
        <activity
            android:name=".SirenPlay"
            android:configChanges="orientation|screenSize"
            android:label="Siren Play" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>